:root {
  --containerBg: rgb(226, 224, 224);
  --background: #838994;
  --lightGreen: gb(155, 236, 155);
}

.App-link {
  color: #61dafb;
}

body {
  background-color: var(--background);
  text-align: center;
}

.container {
  text-align: center;
  background-color: var(--containerBg);
  border-radius: 5px;
  max-width: 100%;
}

.main-container {
  /* border: 3px solid rgb(155, 236, 155); */
  max-width: 800px;
  margin: 30px auto 20px auto;
  padding: 10px;
}

.search-box {
  font-size: 16px;
  border-radius: 10px;
  max-width: 80%;
  padding-bottom: 10px;
  background-color: var(--lightGreen);
}

.search-box input {
  height: 38px;
  border-radius: 5px;
  padding: 3px;
  /* border: 1px solid white; */
}

.text-display {
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  max-width: 80%;
  color: rgb(61, 61, 131);
  background-color: rgb(182, 178, 178);
}

.text-display p {
  margin: 0;
  text-align: left;
}

.text-display p:first-of-type {
  margin: 2px 0 10px 0;
  text-align: left;
}

.map-image {
  max-width: 100%;
  border-radius: 5px;
  border: 5px solid rgba(113, 113, 211, 0.4);
  margin-top: 10px;
}

.map-image:hover {
  transform: scale(1.8);
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.movies img {
  border-radius: 5px;
}

.Card {
  background-color: azure;
}

.movies:hover > div > img:hover {
  transform: scale(1.3);
}
